/* FONT*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Cinzel+Decorative:wght@700&family=Crimson+Pro:wght@300&display=swap');

$fontprincipale: "Cinzel Decorative";
$fontsecondaire:"Crimson Pro";


/*COLORS*/
$greendark: #2C5A4A;
$greenlight: #4B6B56;
$gray: #C7B8BA;
$gold: #987F2E;
$white:#FAF9F8;


/*BACKGROUNDS*/
$background1 : url('../img/background/background1.jpg');
$background2 : url('../img/background/background2.jpg');